{{!-- nav bar --}}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded">
    <a class="navbar-brand" href="/">SCI-NET</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/articles">Articles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/saved">Saved</a>
            </li>

            <a href="/scrape" class="btn btn-outline-primary ml-2" role="button" aria-disabled="true">Scrape</a>
            <a href="/clear" class="btn btn-outline-danger ml-2" role="button" aria-disabled="true">Clear</a>


    </div>
</nav>

<section>
    <!-- Articles.  -->
    {{#each article}}
    <div class="row">
        <div class="col-12">
            <div class="card shadow m-3">
                <div class="card-body text-light bg-dark rounded">
                    <h5 class="card-title">{{title}}</h5>
                    <p class="card-text">{{summary}}</p>
                    <p class="card-text"><a href="{{link}}" target="_blank">Read more</a></p>
                    <a href="/save/{{id}}" class="btn btn-outline-primary" role="button" aria-disabled="true">Save</a>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</section>